.tMainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.uMainContainer {
  display: flex;
  justify-content: center;
  margin: 101px 0px;
}

.rMainContainer {
  background-color: #678983;
  padding: 70px;
  border-radius: 5%;
  color: white;
  border: 1px solid #78a19a;
  box-shadow: inset 0 -3em 3em #678983,
      0 0  0 2px #78a19a,
      0.3em 0.3em 1em #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

.yTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.yGameModeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.gGameModeButtonsContainer {
  display: flex;
  flex: 1;
}

.yDiffButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  flex: 1;
}

.gGameModeButtons {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.yCustomDiffContainer {
  display: flex;
  justify-content: center;
  flex: 1;
}

.yTimerContainer {
  display: flex;
  justify-content: center;
  flex: 1;
}

.gTimer {
  margin: 1px 1px;
}

.yPlayButtonContainer {
  display: flex;
  justify-content: center;
  flex: 1;
  margin-top: -10px;
}

.yLinksContainer {
  margin: -52px 17px;
  position: absolute;
}
















.btn {
  border-radius: 5%;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #181d31;
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
}



.btn:hover {
  background-color: #394264;
}

.btn:focus {
  outline: none;
}

.titulo {
  margin: -40px 0px 20px 0px;
  user-select: none;
}

.botones {
  margin: 0 5px 20px 0;
  padding: 10px;
  background-color: blanchedalmond;
  border: none;
  cursor: pointer;
  border-radius: 4%;
  min-width: 65px;
}

.botones:hover {
  background-color: rgb(179, 132, 62);
}

.botones:focus {
  background-color: rgb(255, 186, 82);
  outline: none;
}

.gitHub {
  max-width: 40px;
}


.gameModeBtns {
  padding: 10px 20px;
  border: none;
  margin: 0px 3px 0px 3px;
  min-width: 84px;
}

.gameModeBtns:focus {
  background-color: rgb(248, 246, 131);
  border: none;
  outline: none;
}



