.target {
  border-radius: 100%;
  background-color: crimson;
  text-align: center;
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.redb {
  background-color: white;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.whiteb {
  background-color: crimson;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  z-index: 3;
}

.shadow {
  background-color: black;
  width: 110px;
  height: 110px;
  opacity: 20%;
  z-index: 5;
  position: absolute;
  left: 55px;
}

.shadow2 {
  background-color: black;
  width: 120px;
  height: 120px;
  opacity: 20%;
  z-index: 5;
  position: absolute;
  left: 55px;
  transform: skewX(340deg);
}

.shadownt {
  background-color: rgb(255, 255, 255);
  width: 110px;
  height: 110px;
  opacity: 20%;
  z-index: 4;
  position: absolute;
  right: 55px;
  transform: skewX(45deg);
}

.btn {
  border: none;
  background-color: inherit;
}

.btn:focus {
  outline: none;
}

.gameOverContainer {
  display: flex;
  justify-content: center;
}

.gameOverBox {
  background-color: #ffe652;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  box-shadow: inset 0 -3em 3em #ffe652, 0 0 0 2px #ffe652,
    0.3em 0.3em 1em #000000;
  padding: 40px 40px;
}

.gameOverBoxShadow {
  background-color: black;
  width: 120px;
  height: 120px;
  opacity: 20%;
  position: absolute;
  transform: skewX(340deg);
}

.playAgainBtn {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #71dfe7;
  border: 2px solid #b0e2e6;
  border-radius: 10px;
}

.playAgainBtn:hover {
  background-color: #b0e2e6;
}

.gameOverContent {
  padding: 10px;
  user-select: none;
}

.playBtn {
  padding: 50px;
  border: none;
  background: inherit;
  color: black;
}

.startBtn {
  position: absolute;
  margin-left: 60px;
  margin-top: 10px;
  z-index: 6;
  user-select: none;
}

.homeBtn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 200ms;
  position: absolute;
}
.homeBtn:hover {
  transform: scale(1.1);
  transition: 200ms;
}

.changeDiffBtn {
  background-color: #e9fffd;
  border: 1px solid #9eb1b3;
  padding: 10px;
  border-radius: 10px;
}

.changeDiffBtn:hover {
  background-color: #bacecc;
}

.pipirulo {
  user-select: none;
}
body {
  user-select: none;
}
